.person-image {
  border-radius: 50%;
  width: 120px;
  margin: 0 auto;
  height: 120px;
  display: block;
  margin-bottom: 10px;
}

.person-sport {
  display: grid;
  grid-template-columns: 100px 100px;
  width: 200px;
  margin: 0 auto;
}

.vertical-line {
  border-left: thick solid black;
}

.person-hr {
  width: 75%;
}

.person-sports-div {
  margin-bottom: 70px;
  margin-top: 40px;
}

.person-name {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #000000;
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow: hidden;
  justify-content: center;
}

.person-details {
  height: 14px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #000000;
}
