


/* .form-events {
  margin-top: 50px;
  margin-left: 44px;
  margin-right: 44px;
}

.input-time-date {
  display: flex;
}

.input-time {
  width: 180px !important;
} */

/* .input-content-calendar {
  display: inline-flex;
  width: 190px;
  left: 20px;
} */

.container-event {
  position: relative;
  flex: 1;
  display: flex;
  padding: 20px;
  border-radius: 5px;
  height: 100px;
  background-color: #f5efef;
  color: #a8a0a0;
  outline: none;
  border: dashed 1px grey;
  top: 20px;
}
.upload-file-event {
  display: inline-flex;
  top: 57px;
  cursor: pointer;
}
.upload-file-event p {
  display: flex;
  color: black;
  border-bottom: double 2px;
  font-family: Inter;
  font-style: normal;
}
.dropzone-event {
  position: relative;
  left: 75px;
  top: 18px;
  height: 30px;
}
.event-cover {
  position: relative;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #000000;
  top: 30px;
}

.drag-drop-event {
  margin-left: 85px !important;
  margin-top: 18px !important;
}

