
.modal-form-inputs {
  position: absolute;
  top: 140px;
  left: 39px;
  left: 39px;
  right: 39px;
}

.drag-and-drop-athlets {
  position: relative;
  flex: 1;
  display: flex;
  padding: 20px;
  border-radius: 5px;
  height: 100px;
  background-color: #f5efef;
  color: #f1e8e8;
  outline: none;
  border: dashed 1px grey;
}
.dropzone-athletes {
  position: relative;
  left: 75px;
  top: 18px;
  height: 30px;
}
.upload-file-athletes {
  display: inline-flex;
  top: 57px;
  cursor: pointer;
}
.upload-file-athletes p {
  display: flex;
  color: black;
  border-bottom: double 2px;
  font-family: Inter;
  font-style: normal;
  font-size: 14px !important;
  margin: 0px;
  height: 25px;
}

.drag-drop-athletes {
  margin-left: 85px !important;
  margin-top: 18px !important;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px !important;
  color: #8e9296;
}
.modal-form-buttons {
  text-align: right;
}
.second-line-athletes {
  margin-top: 60px;
}
.second-line-athletes hr {
  border: 1px solid #cad2e2;
  background: #cad2e2;
}

.close-icon-athlete {
  cursor: pointer;
  margin-left: 530px;
}
