.root {
  display: flex !important;
   flex-direction: row !important;
   width: 400px !important;
   margin:15px !important;
   border-radius: 3% !important;
}

.events-image {
  width: 200px;
  height: 250px;
}

.events-text h3 {
  margin-top: 20px !important;
  margin-bottom: 5px;
}
.body-events-text {
  height: 60px;
  width:180px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.body-events-text p {
  margin-left: 10px;
  word-wrap: break-word;
  margin-top: 0px;
  margin-right: 15px;
  text-overflow: ellipsis;
}
.events-text h4 {
  margin-left: 14px;
  color: #8e9296;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 20px !important;
  margin-bottom: 4px;
}

.events {
  margin: 15px;
}

.events-card-details {
  display: flex ;
  flex-direction: row ;
  left: 14px;
  margin-top: 20px;
}
.events-calendar {
  display: flex ;
  flex-direction: row ;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.events-calendar p {

  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.events-time {
  display: flex ;
  flex-direction: row ;
 
}
.events-time p {

  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.events-location {
  display: flex;
  margin-top: 5px !important;
  margin-left: 10px;
}

.events-location p {
  display: flex;
  margin-left: 0px !important;
  margin-top: 0px !important;
}

